In [ ]:
import pandas as pd
df=pd.read_csv("/content/data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (183,378) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

                                            CHECKUP1  ...      _SMOKER3
0  Within past 2 years (1 year but less than 2 ye...  ...  Never smoked
1  Within past year (anytime less than 12 months ...  ...  Never smoked
2  Within past year (anytime less than 12 months ...  ...  Never smoked
3  Within past year (anytime less than 12 months ...  ...  Never smoked
4  Within past year (anytime less than 12 months ...  ...  Never smoked

[5 rows x 4 columns]

#### Getting all the unique values of checkup column

In [ ]:
df.CHECKUP1.unique()

array(['Within past 2 years (1 year but less than 2 years ago)',
       'Within past year (anytime less than 12 months ago)',
       '5 or more years ago',
       'Within past 5 years (2 years but less than 5 years ago)',
       "Don't know/Not sure", 'Never', 'Refused'], dtype=object)

#### Removing all the values which have values Don't know/Not sure/Missing for Income column

In [ ]:
df_filtered = df[df['_INCOMG'] !=  "Don't know/Not sure/Missing"]

#### Removing all the rows which have values Don't know/Refused/Missing for Smoker Column

In [ ]:
df_filtered = df_filtered[df_filtered['_SMOKER3'] !=  "Don't know/Refused/Missing"]

#### Removing all the values which have values Don't know/Not sure/Missing for Education Column

In [ ]:
df_filtered = df_filtered[df_filtered['_EDUCAG'] !=  "Don't know/Not sure/Missing"]
df_filtered.shape

(9961, 4)

#### Removing all the values which have values Don't know/Not sure/Refused for Checkup Column

In [ ]:
df_filtered = df_filtered[df_filtered['CHECKUP1'] !=  "Don't know/Not sure"  ]
df_filtered.shape

(9931, 4)

In [ ]:
df_filtered = df_filtered[df_filtered['CHECKUP1'] !=  "Refused"  ]
df_filtered.shape

(9897, 4)

In [ ]:
df_filtered.CHECKUP1.unique()

array(['Within past 2 years (1 year but less than 2 years ago)',
       'Within past year (anytime less than 12 months ago)',
       '5 or more years ago',
       'Within past 5 years (2 years but less than 5 years ago)', 'Never'],
      dtype=object)

#### Making a copy of dataset

In [ ]:
df_test=df_filtered

#### For checkup column dividing values into Recent and Not Recent for easier processing.

In [ ]:
df_test['CHECKUP1']= df_test['CHECKUP1'].replace(['Within past 2 years (1 year but less than 2 years ago)',
       'Within past year (anytime less than 12 months ago)',
       '5 or more years ago',
       'Within past 5 years (2 years but less than 5 years ago)', 'Never'],['Not Recent','Recent','Not Recent','Not Recent','Not Recent'])

In [ ]:
df_test.CHECKUP1.unique()

array(['Not Recent', 'Recent'], dtype=object)

In [ ]:
df_filtered.head()

     CHECKUP1  ...                               _SMOKER3
0  Not Recent  ...                           Never smoked
4      Recent  ...                           Never smoked
5      Recent  ...  Current smoker - now smokes some days
6  Not Recent  ...                           Never smoked
7      Recent  ...  Current smoker - now smokes some days

[5 rows x 4 columns]

In [ ]:
df_test._SMOKER3.unique()

array(['Never smoked', 'Current smoker - now smokes some days',
       'Former smoker', 'Current smoker - now smokes every day'],
      dtype=object)

#### Convert smoker column values to 0 and 1 where 0 means doesn't smoke and 1 means they smoke so that machine learning algorthim can process it easily

In [ ]:
df_test['_SMOKER3']= df_test['_SMOKER3'].replace(['Never smoked', 'Current smoker - now smokes some days',
       'Former smoker', 'Current smoker - now smokes every day'],['0','1','0','1'])

In [ ]:
df_test._SMOKER3.unique()

array(['0', '1'], dtype=object)

#### Taking final look at the datset we have preprocessed

In [ ]:
df_test.head()

     CHECKUP1  ... _SMOKER3
0  Not Recent  ...        0
4      Recent  ...        0
5      Recent  ...        1
6  Not Recent  ...        0
7      Recent  ...        1

[5 rows x 4 columns]

#### Saving file to desk so that it can be used by weka for further work

In [ ]:
df_test.to_csv('cleaned_checkup_edu_smoke.csv',index=False)